@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
}

.MainPage {
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#SimpleLoaderLogo {
    width: 50%;
    height: auto;
    margin: 10px;
}

.QuestionIcon{
    width: 35px;
    height: auto;
    background-color:steelblue; 
    color: white;
    font-weight: bold;
    border-radius: 620px;
}

.SimpleForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 20px;
}